<% provide(:title, t('content.community')) %>
 <!--=== Breadcrumbs v3 ===-->
    <div class="breadcrumbs-v3 img-v1 margin-bottom-60">
        <div class="container text-center">
            <p>Meet Our Folks</p>
            <h1>Our Professional Team Members</h1>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v3 ===-->

   <!--=== Team v5 ===-->
    <div class="container">
        <div class="headline-center margin-bottom-60">
            <h2>TEAM MEMBERS</h2>
            <p>Our team of highly determined and self-motivated individuals 
           
        </div>

        <div class="row team-v5 margin-bottom-30">
            <div class="col-sm-4">
                <div class="team-img">
                     <%= image_tag 'VanceHeadShotcrop.jpg', size: "height:270;width:auto;" %>
                    <div class="team-hover">
                    </div>
                </div>
                <span> <%= link_to 'Vance Licaros',   vance_path %> </span>
                <small>Chief Technology Officer</small>
                <p>"It is better to have loved and lost, than never to have loved at all."</p>
            </div>
            
            <div class="col-sm-4">
                <div class="team-img">
                     <%= image_tag 'MichaelQ.jpg', size: "height:360;width:auto;" %>
                    <div class="team-hover">
                    </div>
                </div>
                <span> <%= link_to 'Michael JunHao Qiu',   michael_path %> </span>
                <small>Chief Medical Officer</small>
               <p>"To you it is given to know the secrets of the Kingdom of God, but for others they are in parables."</p>
            </div>
            <div class="col-sm-4 sm-margin-bottom-50">
                <div class="team-img">
                     <%= image_tag 'thuanPham.jpg', size: "height:270;width:auto;" %>
                    <div class="team-hover">
                    </div>
                </div>
                <span> <%= link_to 'Thuan Pham',   thuan_path %> </span>
                <small>Web Developer</small>
                <p>"Float like a butterfly, sting like a bee."</p>
            </div>
            
            <div class="col-sm-4 sm-margin-bottom-50">
                <div class="team-img">
                     <%= image_tag '10329705_1014594918634956_3814649206592667887_o.jpg', size: "height:270;width:auto;" %>
                    <div class="team-hover">
                    </div>
                </div>
                <span> <%= link_to 'Francis Tran',   francis_path %> </span>
                <small>Software Intern</small>
                <p>"Always mind your surroundings."</p>
            </div>
            
        </div><!--/end team v5-->
    </div>