<% provide(:title, "Message Conversation") %>
<h1>Message Conversation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="form-group">
      <label><%= @message.user.try(:name) %></label>
      <div class="message"><%= @message.message.gsub(/\n/, '<br>').html_safe() %></div>
    </div>
    <% @message.answers.each do |answer| %>
      <div class="form-group">
        <label><%= answer.user.try(:name) %></label>
        <div class="message"><%= answer.message.gsub(/\n/, '<br>').html_safe() %></div>
      </div>
  <% end %>
    <%= form_for(:answer, url: answers_path(@message)) do |f| %>

      <%= f.label :answer %>
      <%= f.text_area :message, rows: 6, class: 'form-control' %>

      <%= f.submit 'Answer', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
