<div class="panel panel-profile no-bg">
  <div class="panel-heading overflow-h">
    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>
    <span class="btn-new-task"><i class="fa fa-plus pull-right"></i></span>
  </div>

  <div class="panel-body">
    <div>
      <input class="form-control new-task-title" placeholder="Add new task"></input>
    </div>
    <div class="tasks">
      <% @tasks.each do |task| %>
        <div>          
          <input type="checkbox" class="check-task-done" data-task-id=<%= task.id %> <%= task.done ? 'hidden' : ''  %>>
          <span class="heading-xs task-title" data-task-id=<%= task.id %>><%= task.title %></span>          
          <div class="progress progress-u progress-xxs">
            <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar <%= task.done ? 'progress-bar-u' : 'progress-bar-red' %>">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'tasks/task' %>

<%= javascript_tag do %>
  init_tasks();
<% end %>

