<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :user_type %>
  <%= f.select :user_type, class: 'form-control' do %>
    <%= content_tag(:option, 'Patient', value: 'patient') %>
    <%= content_tag(:option, 'Doctor', value: 'doctor', selected: @user.doctor?) %>
    <%= content_tag(:option, 'CSR', value: 'csr', selected: @user.csr?) %>
  <% end %>

  <div class="select_clinic_section">
    <%= f.label :clinic %>
    <%= f.select :clinic_id,
                 Clinic.all.map { |clinic| [clinic.name, clinic.id] },
                 { include_blank: true }
    %>
  </div>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  init_clinic_section('<%= @user.user_type %>');
</script>
