<tr>
  <td><%= gravatar_for user, size: 50 %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.user_type_string %></td>
  <% if current_user.admin? && !current_user?(user) %>
    <td><%= link_to "Change Profile", edit_user_path(user) %></td>
    <td><%= link_to "Reset Password", { controller: 'password_resets', action: 'create', password_reset: { email: user.email }}, method: :post %></td>
    <td><%= link_to "Reactivation", { controller: 'users', action: 'reactivate', id: user.id }, method: :post %></td>
    <td><%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %></td>
  <% else %>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  <% end %>
</tr>