<% provide(:title, "Video Session Details") %>
<h1>Video Session Details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>User</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.user.try(:name) %></div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Symptom</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.symptom.gsub(/\n/, '<br>').html_safe() %></div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Created Time</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.created_at.strftime("%B %-d, %Y %I:%M %P") %></div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Doctor</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.doctor.try(:name) %></div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Started Time</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.start_time.strftime("%B %-d, %Y %I:%M %P") if @video_session.start_time %></div>
      </div>
    </div>

    <div class="form-group">
      <label>Photos</label>
      <% if @photos.count > 0 %>
        <div class="clearfix">
          <% @photos.each do |photo| %>
            <div class="video-session-taken-photo">
              <%= image_tag photo.photo_url %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Ended Time</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.finish_time.strftime("%B %-d, %Y %I:%M %P") if @video_session.finish_time %></div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label>Notes</label> &nbsp;
          <% if current_user.id == @video_session.doctor_id %>
            ( <%= link_to 'Edit', edit_notes_video_session_path(@video_session)  %> )
          <% end %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.notes.gsub(/\n/, '<br>').html_safe() if @video_session.notes %></div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12"><label>Status</label></div>
        <div class="col-md-9 col-sm-8 col-xs-12"><%= @video_session.status == 'finished' ? 'complete' : 'incomplete' %></div>
      </div>
    </div>
  </div>
</div>
