<div class="chat-template" id="chat_template">
  <div class="chat-title-bar clearfix">
    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="chat-title">CSR</h4>
  </div>
  <div class="chat-messages-container">
    <table class="table">
      <tr>
        <td>
          <div class="chat-messages"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="chat-footer">
    <textarea class="chat-message" placeholder="Type a message"></textarea>
  </div>
</div>
<% if logged_in? %>
  <div id="chat" data-api-key=<%= Pusher.key %> data-auth-endpoint=<%= pusher_auth_path %> ></div>
  <%= javascript_tag do %>
    init_chat_session("<%= current_user.name %>", <%= current_user.id %>, "<%= current_user.user_type %>", "<%= ENV['OPENTOK_API_KEY'] %>", "<%= ENV['OPENTOK_PRESENCE_SESSION_ID'] %>", "<%= current_user.presence_token %>");
  <% end %>
<% end %>
