<footer class="footer-v1">
  <div class='footer'>
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <!-- <a href="index.html"><%= image_tag 'logo2-default.png', class: 'footer-logo' %></a> -->
          <a class="logo" href="/">
            <span>247clinic.ca</span>
          </a>
          <p>247clinic.ca is a collection of physicians in the greater vancouver region. Our clinics offer services in Chinese (mandarin), English and French.</p>
          <p>Our customer service representatives are available 24 hours a day, 7 days a week over the phone, chat, email or video chat.</p>
          </div><!--/col-md-3-->
          <!-- End About -->
          <!-- Latest -->
          <div class="col-md-3 md-margin-bottom-40">
            <div class="posts">
              <div class="headline"><h2>Latest Posts</h2></div>
              <ul class="list-unstyled latest-list">
                <li>
                  <a href="#">Incredible content</a>
                  <small>May 8, 2014</small>
                </li>
                <li>
                  <a href="#">Best shoots</a>
                  <small>June 23, 2014</small>
                </li>
                <li>
                  <a href="#">New Terms and Conditions</a>
                  <small>September 15, 2014</small>
                </li>
              </ul>
            </div>
            </div><!--/col-md-3-->
            <!-- End Latest -->
            <!-- Link List -->
            <div class="col-md-3 md-margin-bottom-40">
              <div class="headline"><h2>Useful Links</h2></div>
              <ul class="list-unstyled link-list">
                <li><%= link_to 'About Us',   about_path %><i class="fa fa-angle-right"></i></li>
                <li><%= link_to 'Latest Jobs',   jobs_path %><i class="fa fa-angle-right"></i></li>
                <li><%= link_to 'Community',   community_path %><i class="fa fa-angle-right"></i></li>
                <li><%= link_to 'Contact Us',   contact_path %><i class="fa fa-angle-right"></i></li>
              </ul>
              </div><!--/col-md-3-->
              <!-- End Link List -->
              <!-- Address -->
              <div class="col-md-3 map-img md-margin-bottom-40">
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                  1615 10th SW Unit 206B <br />
                  Calgary AB, Canada T3C 0J5 <br />
                  Phone: 888 808 8168 <br />
                  Email: <a href="info@247clinic.ca" class="">info@247clinic.ca</a>
                </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
              </div>
            </div>
          </div>
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <p>
                    The 24-7 Online Clinic 2015 &copy; All Rights Reserved.
                    <%= link_to t('content.about'),   about_path %> | <%= link_to t('content.contact'), contact_path %>
                  </p>
                </div>
                <div class="col-md-6">
                  <ul class="footer-socials list-inline">
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
